.html, body  {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.padnone {
    padding: 0;
    margin: 0;
}

.big-margin {
    margin-bottom: 8vw;
}

.margin {
    margin-bottom: 5vw;
}

.small-margin {
    margin-bottom: 0.7vw;
}

.weight1000 {
    font-weight: 1000;
}

.black {
    font-weight: 600;
}

.bold {
    font-weight: 450;
}

.regular {
    font-weight: 300;
}

.light {
    font-weight: 100;
}

.size1 {
    font-size: 5vw;
}

.size2 {
    font-size: 4vw;
}

.size3 {
    font-size: 2.7vw;
}

.size4 {
    font-size: 2vw;
}

.size5 {
    font-size: 1.7vw;
}

.size6 {
    font-size: 1.3vw;
}


.a-none a{
    text-decoration: none;
}